<%- include('partials/header'); -%>
<span>
<h1>
  Find Your Study Partner   <button style="float:right">My Profile</button>
</h1>
</span>
<ul>
    <% people.forEach(function(person) { %>
        <li>
            <strong><%= person.name %></strong>
            is taking <%= person.courses.sort().join(', ')  %>
        </li>
    <% }); %>
</ul>

<%- include('partials/footer'); -%>