<%- include('partials/header'); -%>

<h2>CPSC 213</h2>
<h1>
  Find Your Study Partner
</h1>

<div class="grid">
    <div class="cbtn"><button class="btn">View all students</button></div>
    <div class="cbtn"><button class="btn">Sign up/Sign in</button></div>
</div>
  
<style>
body{
    background-color: #FFF6E8;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 300px;
}
.btn {
    width: 200px;
    height: 40px;
    background-color: #FFA68A;
    font-family: 'Courier New';
}
.cbtn{
    justify-self: center;
}
h1 {
    text-align: center;
    font-family: 'Courier New';
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 50px;
}
h2 {
    text-align: center;
    font-family: 'Courier New';
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 70px;
    padding-bottom: 20px;
}
</style>



<%- include('partials/footer'); -%>